application_files/datatype/%7BCM%7DCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="CM" xmlns:tns="CM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Case">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">
                @Table(name="Case")
            </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CaseID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @Column(name="CaseID") @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PatientID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="PatientID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProviderID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ProviderID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProductID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ProductID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WorkAddress" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="WorkCityAddress")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WorkCity" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="WorkCity")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WorkPostcode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="WorkPostcode")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Salary" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="Salary")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DurationWithEmployer" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DurationWithEmployer")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmployerContactName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EmployerContactName")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClaimAgainstEmployer" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ClaimAgainstEmployer")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClaimantAtWork" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ClaimantAtWork")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmployerPhone" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EmployerPhone")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmployerEmail" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="EmployerEmail")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClaimantRepresented" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ClaimantRepresented")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClaimReference" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ClaimReference")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InsuranceType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="InsuranceType")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateOfInjury" nillable="true" type="xsd:date">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DateOfInjury")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrimaryInjuryDescription" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(columnDefinition="text")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BriefDescriptionOfEvent" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(columnDefinition="text")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrentTreatmentDetails" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(columnDefinition="text")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AdditionalInstructions" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(columnDefinition="text")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="JointInstructionConfirmed" nillable="true" type="xsd:boolean">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="JointInstructionConfirmed")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderCase" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderCase")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderArgentInvoices" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderArgentInvoices")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderSupplierInvoices" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderSupplierInvoices")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderArgentReports" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderArgentReports")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderMedicalRecordsReports" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderMedicalRecordsReports")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderCorrespondence" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderCorrespondence")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FolderGovernance" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="FolderGovernance")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreatedDate" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CreatedDate")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreatedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CreatedBy")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastModifiedDate" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LastModifiedDate")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastModifiedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="LastModifiedBy")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CaseManagerID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CaseManagerID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CaseStatus" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CaseStatus")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CaseOutcome" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="CaseOutcome")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InitialAppointmentDate" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="InitialAppointmentDate")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MedicalInformationReceived" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MedicalInformationReceived")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TopClientID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="TopClientID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClientID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="ClientID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BrandID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="BrandID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MatterID" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="MatterID")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DateOpened" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Column(name="DateOpened")</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AssessmentType" nillable="true" type="xsd:string"/>
      <xsd:element name="DateClosed" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="DateRehabCompleted" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="Achievement" nillable="true" type="xsd:string"/>
      <xsd:element name="InitialFundingApproved" nillable="true" type="xsd:boolean"/>
      <xsd:element name="MissingInfo" nillable="true" type="xsd:boolean"/>
      <xsd:element name="FixedRate" nillable="true" type="xsd:boolean"/>
      <xsd:element name="RateType" nillable="true" type="xsd:string"/>
      <xsd:element name="ReferringPartyLowLevelID" nillable="true" type="xsd:int"/>
      <xsd:element name="NoteOfInterest" nillable="true" type="xsd:boolean"/>
      <xsd:element name="FastTrackID" nillable="true" type="xsd:string"/>
      <xsd:element name="FastTrackProduct" nillable="true" type="xsd:string"/>
      <xsd:element name="DateOfReferral" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="ReturnToWorkDate" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="IsEscalated" nillable="true" type="xsd:boolean"/>
      <xsd:element name="PutOnHoldDate" nillable="true" type="xsd:dateTime"/>
      <xsd:element name="TotalHoldTime" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
