application_files/datatype/%7BCM%7DICD10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="CM" xmlns:tns="CM" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ICD10">
    <xsd:sequence>
      <xsd:element name="ID" nillable="true" type="xsd:int">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">@Id @GeneratedValue</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ICD10Code" nillable="true" type="xsd:string"/>
      <xsd:element name="ICD10CodeDescription" nillable="true" type="xsd:string"/>
      <xsd:element name="IsTopLevel" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
